/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:   	Your Name!
Author URI:   http://example.com
Template: 	accelerate-theme
Version:      2.0.0
Tags:     	light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/

.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
}

#masthead {
    background: none repeat scroll 0 0 #45ac9d;
}

.button {
    background: none repeat scroll 0 0 #45ac9d;
}

.blog-post {
	width: 50%;
	float: left;
	margin-bottom: 2em;
}

.blog-post h4 {
    font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
    color: #a6a6a6;
    text-transform: uppercase;
    margin: 2em 0 .5em;
}

.blog-post h3 {
	font-size: 1.5em;
}

.read-more-link {
	font-family: 'Montserrat';
	font-weight: 700;
	color: #45ac9d;
	text-transform: uppercase;
}

/* Case Studies */

aside.case-study-sidebar {
	float: left;
	width: 300px;
}

div.case-study-images {
	float: left;
	width: 606px;
}

/* Featured Work on Homepage */
.featured-work h4 {
	text-align: center;
}

.homepage-featured-work {
	list-style: none;
}

.individual-featured-work {
	display: inline-block;
	width: 31%;
	margin: 9.5px; 
}

.individual-featured-work h3 {
	text-align: center;
	position: relative;
    padding: -100px;
    top: -30px;
}

/* Archives Page */
div.case-study-images img {
	width: 100%;
	height: auto;
	padding: 10px;
	margin: 10px;
}

/* Social Media Icons */
#menu-social-media-nav.social-media-menu {
	list-style: none;
}

#menu-social-media-nav.social-media-menu li {
	display: inline-block;
	background-color: black;
	border-radius: 50%;
	margin: 5px;
	width: 40px;
	height: 40px; 
}

a {
	display: block;
	align-items: center;
	padding-top: 1.5px;
	padding-left: 4px;
	margin: 10px;
	color: white;
}